@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Pacifico&family=Patrick+Hand&family=Quicksand&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body {
 background-color: #abc0cf;
}
.titleContainer{
    display: flex;
}
.title{
    font-size: 45px;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #5769a3;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d5e8ec;
    height: 11vh;
    font-family: 'Indie Flower', cursive;
}
.linkContainer a{
    text-decoration: none;
    margin: 15px;
    font-size: 25px;
}
.linkContainer{
    margin-right: 20px;
}
